
<app-header></app-header>

  <section class="about-section">
    <h2>About Matrimonial Hub: Find Your Perfect Match</h2>
    <p>
    
        **Matrimonial Hub** is a leading online matrimonial platform that connects 
        individuals seeking compatible life partners. We are committed to 
        providing a secure and trustworthy platform for users to find their 
        perfect match.
        With a vast database of profiles and advanced search features, 
        Matrimonial Hub makes it easy to find someone who shares your values, 
        interests, and background. We offer a user-friendly interface and 
        24/7 customer support to ensure a smooth and successful experience.
    </p>
    <div class="key-features">
      <h3>Why Choose Matrimonial Hub?</h3>
      <ul>
        <li>
          <i class="fas fa-users"></i>  Large and diverse database of profiles: We connect you with a vast pool of potential partners from various backgrounds and walks of life.
        </li>
        <li>
          <i class="fas fa-search"></i>  Advanced search filters: Refine your search with detailed criteria like age, location, education, profession, interests, and more.
        </li>
        <li>
          <i class="fas fa-shield-alt"></i>  Secure and verified profiles: We prioritize user safety with verification processes and fraud detection measures.
        </li>
        <li>
          <i class="fas fa-user-friendly"></i>  User-friendly interface: Our intuitive platform is easy to navigate, making your search for love a smooth experience.
        </li>  
        <li>
          <i class="fas fa-headset"></i>  24/7 customer support: Our dedicated support team is always available to assist you with any questions or concerns.
        </li>
      </ul>
    </div>
    <a href="/register" class="btn btn-primary">Start Your Trial</a>
  </section>
  
  