<app-header></app-header>
<!-- src/app/admin-user-page/admin-user-page.component.html -->
<div class="admin">
    <h2 class="admin_header">Admin Dashborad</h2>
<div *ngIf="loading">Loading...</div>
<div *ngIf="error">{{ error }}</div>
<div *ngIf="!loading && !error">
  <table class="user-table">
    <thead>
      <tr class="table_header">
        <th>Registration ID</th>
        <th>UserName</th>
        <th>Email</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index" [class.even]="i % 2 === 0" [class.odd]="i % 2 !== 0">
        <td>{{ user.rid }}</td>
        <td>{{ user.userName }}</td>
        <td>{{ user.email }}</td>
        <td><button type="button" class="btn btn-danger" (click)="deleteUser(user.rid)">Delete</button></td>
        <td><button type="button" class="btn btn-success" (click)="detailsof(user.rid)" >Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<app-footer></app-footer>