<!-- <div class="user">
    <nav class="navbar navbar-expand-lg fixed-top bg-dark">
      <div class="container">
        <a class="navbar-brand text-white fw-bold" routerLink="/page" routerLinkActive="active">
          <i class="fas fa-heartbeat me-2 text-danger"></i> Matrimonial <span class="text-primary"> Hub </span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link text-white" routerLink="/page" routerLinkActive="active">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Matches
                </a>
                <ul class="dropdown-menu bg-dark">
                  <li>
                    <a class="dropdown-item text-white" routerLink="/matches/grooms" routerLinkActive="active">
                      <i class="fas fa-user-tie text-primary me-2"></i> Grooms
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item text-white" routerLink="/matches/brides" routerLinkActive="active">
                      <i class="fas fa-user text-danger me-2"></i> Brides
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" routerLink="/about" routerLinkActive="active">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" routerLink="/services" routerLinkActive="active">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" routerLink="/contact" routerLinkActive="active">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" routerLink="/chats" routerLinkActive="active">Chats</a>
              </li>
            </ul>
            <div class="dropdown mt-3 mt-lg-0">
              <a class="btn btn-outline-primary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-user me-2"></i> Profile
              </a>
              <ul class="dropdown-menu dropdown-menu-end bg-dark">
                <li>
                  <a class="dropdown-item text-white" routerLink="/home"><i class="fas fa-sign-out-alt text-danger me-2"></i> Logout</a>
                </li>
                <li>
                  <a class="dropdown-item text-white" routerLink="/user/changepassword"><i class="fas fa-lock text-warning me-2"></i> Change Password</a>
                </li>
                <li>
                  <a class="dropdown-item text-white" href="javascript:void(0);"><i class="fas fa-user-edit text-success me-2"></i> Update Profile</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>

-->
  

  <div class="user">
    <nav class="navbar navbar-expand-lg fixed-top bg-dark">
      <div class="container">
        <a class="navbar-brand text-white fw-bold" routerLink="/page" routerLinkActive="active">
          <i class="fas fa-heartbeat me-2 text-danger"></i> Matrimonial <span class="text-primary"> Hub </span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link text-white" routerLink="/" routerLinkActive="active">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Matches
                </a>
                <ul class="dropdown-menu bg-dark">
                 
                
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" routerLink="/about" routerLinkActive="active">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" routerLink="/services" routerLinkActive="active">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" routerLink="/login" routerLinkActive="active">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" routerLink="/register" routerLinkActive="active">Register</a>
                  
              </li>
            
            </ul>
           


          </div>
        </div>
      </div>
    </nav>
 
 



    <!-- about -->
<div class="about">
<div class="container ">
<div class="row d_flex">
<div class="col-md-5">
 <div class="titlepage">
    <h2>About Our company</h2>
    <span>At MATRIMONIAL HUB, we believe that finding your perfect match shouldn't be a stressful experience. We're dedicated to providing a welcoming and secure platform where you can connect with compatible individuals who share your values and aspirations. With a focus on genuine connections and personalized support, we strive to be your trusted partner in your journey to find lasting love.</span>
    <a class="read_more" href="Javascript:void(0)"> Read More</a>
 </div>
</div>
<div class="col-md-7">
 <div class="about_img">
    <figure><img src="https://www.bing.com/images/search?view=detailV2&ccid=DgS3Ytgq&id=069F745D427506B39B9E6A03B09CDEF9B8BCCA09&thid=OIP.DgS3Ytgq8rO7v25g4XKtwAHaHa&mediaurl=https%3a%2f%2fpng.pngtree.com%2fpng-clipart%2f20230103%2foriginal%2fpngtree-indian-wedding-couple-standing-wearing-sherwani-and-lehenga-free-png-image_8864975.png&exph=1200&expw=1200&q=shadi+knot+bg&simid=608039839406887756&FORM=IRPRST&ck=34104F72D446E25ADA9E32B219B996BB&selectedIndex=3&itb=1" alt="#"/></figure>
 </div>
</div>
</div>
</div>
</div>
<!-- end about -->
<!--  footer -->
<footer>
<div class="footer">
<div class="copyright">
<div class="container">
 <div class="row">
    <div class="col-md-8 offset-md-2">
       <p>© 2019 All Rights Reserved.</p>
    </div>
 </div>
</div>
</div>
</div>
</footer>

      

  