<!DOCTYPE html>
<html lang="en">
<head>
    <title>Wedding Matrimony</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#f6af04">
    <meta name="description" content="">
    <link rel="shortcut icon" href="fav.ico" type="image/x-icon">
    <link rel="stylesheet" href="C:\Users\sksan\OneDrive\Desktop\Angular-Firebase-crud-main\src\app\user-profile\css\bootstrap.css">
    <link rel="stylesheet" href="C:\Users\sksan\OneDrive\Desktop\Angular-Firebase-crud-main\src\app\user-profile\css\font-awesome.min.css">
    <link rel="stylesheet" href="C:\Users\sksan\OneDrive\Desktop\Angular-Firebase-crud-main\src\app\user-profile\css\animate.min.css">
    <link rel="stylesheet" href="C:\Users\sksan\OneDrive\Desktop\Angular-Firebase-crud-main\src\app\user-profile\css\style.css">
</head>
<body>
    <!-- HEADER & MENU -->
    <div class="hom-top">
        <div class="container">
            <div class="row">
                <div class="hom-nav">
                    <!-- LOGO -->
                    <div class="logo">
                        <span class="menu desk-menu">
                            <i></i>
                            <i></i>
                            <i></i>
                        </span>
                        <a href="index.html" class="logo-brand">
                            <img src="images/logo-b.png" class="ic-logo" alt="Logo">
                        </a>
                    </div>
                    <!-- TOP MENU -->
                    <div class="bl">
                        <ul>
                            <li>Explore</li>
                            <li>All pages</li>
                            <li>Top pages</li>
                            <li><a href="plans.html">Plans</a></li>
                            <li><a href="sign-up.html">Register</a></li>
                            <li>Dashboard</li>
                        </ul>
                    </div>
                    <!-- MOBILE MENU -->
                    <div class="mob-menu">
                        <div class="mob-me-ic">
                            <span class="ser-open mobile-ser">
                                <img src="images/search.svg" alt="Search">
                            </span>
                            <span class="mobile-exprt" data-mob="dashbord">
                                <img src="images/users.svg" alt="Dashboard">
                            </span>
                            <span class="mobile-menu" data-mob="mobile">
                                <img src="images/menu.svg" alt="Mobile Menu">
                            </span>
                        </div>
                    </div>
                    <!-- END MOBILE MENU -->
                </div>
            </div>
        </div>
    </div>
    <!-- END HEADER & MENU -->

    <!-- MOBILE MENU POPUP -->
    <div class="mob-me-all mobile_menu">
        <!-- Your mobile menu content here -->
    </div>
    <!-- END MOBILE MENU POPUP -->

    <!-- LOGIN SECTION -->
    <section>
        <div class="db">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-3">
                        <div class="db-nav">
                            <div class="db-nav-pro">
                                <img src="images/12.jpg" class="img-fluid" alt="Profile Picture">
                            </div>
                            <div class="db-nav-list">
                                <ul>
                                    <li><a href="user-dashboard.html"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a></li>
                                    <li><a href="user-profile.html" class="act"><i class="fa fa-male" aria-hidden="true"></i> Profile</a></li>
                                    <li><a href="user-interests.html"><i class="fa fa-handshake-o" aria-hidden="true"></i> Interests</a></li>
                                    <li><a href="user-chat.html"><i class="fa fa-commenting-o" aria-hidden="true"></i> Chat list</a></li>
                                    <li><a href="user-plan.html"><i class="fa fa-money" aria-hidden="true"></i> Plan</a></li>
                                    <li><a href="user-setting.html"><i class="fa fa-cog" aria-hidden="true"></i> Setting</a></li>
                                    <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-9">
                        <div class="row">
                            <div class="col-md-12 col-lg-6 col-xl-8 db-sec-com">
                                <h2 class="db-tit">Profiles status</h2>
                                <div class="db-profile">
                                    <div class="img">
                                        <img src="images/12.jpg" loading="lazy" alt="Profile Picture">
                                    </div>
                                    <div class="edit">
                                        <a href="/info" class="cta-dark" target="_blank">Edit profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END LOGIN SECTION -->

    <!-- JavaScript files -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/select-opt.js"></script>
    <script src="js/Chart.js"></script>
    <script src="js/custom.js"></script>
</body>
</html>
