

<header>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/userdetails">Profile</a></li>
      <li><a routerLink="/register">register</a></li>
      <li *ngIf="isAdmin"><a routerLink="/admin" >Admin</a></li>
      <li><a routerLink="/dashboard">Dashboad</a></li>
      <li><a routerLink="/photo-gallery">photo-gallery</a></li>
    </ul>
    <!-- <p-button ></p-button> -->
    <!-- <p-button type="button" class="btn btn-info" (click)="logOut()">Log Out</p-button> -->
    <button class="text" label="sign out" style="background-color: aquamarine; color: black; padding: 5px; border-radius: 5px; font-weight: bolder;" (click)="logOut()">Log Out</button>
    
    <img src="assets/logo3.png" alt="">
  </nav>

</header>
