

<header>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/userdetails">Profile</a></li>
      <li><a routerLink="/register">register</a></li>
      <li><a routerLink="/admin">Admin</a></li>
      <li><a routerLink="/dashboard">Dashboad</a></li>
      <li><a routerLink="/all_profiles">all-profiles</a></li>
      <li><a routerLink="/photo-gallery">photo-gallery</a></li>
    </ul>
    <!-- <p-button ></p-button> -->
    <!-- <button type="button" class="btn btn-info" onclick="logOut()">Info</button> -->
    <button class="text" label="sign out" (onclick)="logOut()">Log Out</button>
    
    <img src="assets/logo3.png" alt="">
  </nav>

</header>
