<!-- <p>home works!</p>


    <header>
        <nav>
            <a href="#">Matrimony</a>
            <div class="login-register">
                <li><a href="/login">Login</a></li>
                <li><a href="/register">register</a></li>
            </div>
        </nav>
    </header> -->

    <!DOCTYPE html><html lang="en"><head>
        <title>Wedding Matrimony</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="shortcut icon" href="fav.ico" type="image/x-icon">
        <link rel="stylesheet" href="/src/assets/css/bootstrap.css">
        <link rel="stylesheet" href="/src/assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="/src/assets/css/animate.min.css">
        <link rel="stylesheet" href="/src/assets/css/style.css">
    
    </head>
    <body>
        <!-- TOP MENU -->
        <div class="head-top">
            <div class="container">
                <div class="row">
                    <div class="lhs">
                        <ul>
                            <li><a href="#!" class="ser-open"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                    <div class="rhs">
                        <ul>
                            <li><a href="tel:+9704462944"><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;+91 9351300276</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> &nbsp; helpcompany.com</a></li>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- END -->
            
        <!-- MAIN MENU -->
        <div class="hom-top">
            <div class="container">
                <div class="row">
                    <div class="hom-nav">
                        <!-- LOGO -->
                        <div class="logo">
                            <span class="menu desk-menu">
                                <i></i><i></i><i></i>
                            </span>
                            <!-- <a href="index.html" class="logo-brand"><img src="project\src\app\home\images\logo-b.png" alt="" loading="lazy" class="ic-logo"></a> -->
                        </div>
    
                        <!-- EXPLORE MENU -->
                        <div class="bl">
                            <ul>
                                <li class="smenu-pare">
                                    <span class="smenu">Explore</span>
                                    <div class="smenu-open smenu-box">
                                        <div class="container">
                                            <div class="row">
                                                <h4 class="tit">Explore category</h4>
                                                <ul>
                                                    <li>
                                                        <div class="menu-box menu-box-2">
                                                            <h5>Browse profiles <span>1200+ Verified profiles</span></h5>
                                                            <span class="explor-cta">More details</span>
                                                            <a href="/all_profiles" class="fclick"></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="menu-box menu-box-1">
                                                            <h5>Wedding page <span>Make reservation</span></h5>
                                                            <span class="explor-cta">More details</span>
                                                            <a href="wedding.html" class="fclick"></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="menu-box menu-box-3">
                                                            <h5>All Services<span>Lorem ipsum dummy</span></h5>
                                                            <span class="explor-cta">More details</span>
                                                            <a href="services.html" class="fclick"></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="menu-box menu-box-4">
                                                            <h5>Join Now <span>Lorem ipsum dummy</span></h5>
                                                            <span class="explor-cta">More details</span>
                                                            <a href="plans.html" class="fclick"></a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="smenu-pare">
                                    <span class="smenu">All pages</span>
                                    <div class="smenu-open smenu-multi">
                                        <div class="container">
                                            <div class="row">
                                                <div class="multi-col">
                                                    <div class="inn">
                                                    </div>
                                                </div>
                                                <div class="multi-col">
                                                    <div class="inn">
                                                    </div>
                                                </div>
                                                <div class="multi-col">
                                                    <div class="inn">
                                                    </div>
                                                </div>
                                                <div class="multi-col">
                                                    <div class="inn">
                                                        
                                                    </div>
                                                </div>
                                                <div class="multi-col full">
                                                    <div class="inn">
                                                        <h4>User dashboard pages</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="smenu-pare">
                                    <span class="smenu">Top pages</span>
                                    <div class="smenu-open smenu-single">
                                    </div>
                                </li>
                                <li><a href="#">Plans</a></li>
                                <li><a href="/register">Register</a></li>
                                <li class="smenu-pare">
                                    <span class="smenu">Dashboard</span>
                                    <div class="smenu-open smenu-single">
                                    </div>
                                </li>
                            </ul>
                        </div>
    
                        <!--MOBILE MENU-->
                        <div class="mob-menu">
                            <div class="mob-me-ic">
                                <span class="ser-open mobile-ser">
                                    <img src="images/search.svg" alt="">
                                </span>
                                <span class="mobile-exprt" data-mob="dashbord">
                                    <img src="images/users.svg" alt="">
                                </span>
                                <span class="mobile-menu" data-mob="mobile">
                                    <img src="images/menu.svg" alt="">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END -->
    
        <!-- BANNER & SEARCH -->
        <section style="background-color: grey;">
            <div class="str">
                <div class="hom-head">
                    <div class="container">
                        <div class="row">
                            <div class="hom-ban">
                                <div class="ban-tit">
                                    <span><i class="no1">#1</i> Matrimony</span>
                                    <h1>Find your<br><b>Right Match</b> here</h1>
                                    <p>Most trusted Matrimony Brand in the World.</p>
                                </div>
                                <div class="ban-search chosenini">
                                    <form>
                                        <ul>
                                            <li class="sr-look">
                                                <div class="form-group">
                                                    <label>I'm looking for</label>
                                                    <select class="chosen-select">
                                                        <option value="">I'm looking for</option>
                                                        <option value="Men">Men</option>
                                                        <option value="Women">Women</option>
                                                    </select>
                                                </div>
                                            </li>
                                            <li class="sr-age">
                                                <div class="form-group">
                                                    <label>Age</label>
                                                    <select class="chosen-select">
                                                        <option value="">Age</option>
                                                        <option value="">18 to 30</option>
                                                        <option value="">31 to 40</option>
                                                        <option value="">41 to 50</option>
                                                        <option value="">51 to 60</option>
                                                        <option value="">61 to 70</option>
                                                        <option value="">71 to 80</option>
                                                        <option value="">81 to 90</option>
                                                        <option value="">91 to 100</option>
                                                    </select>
                                                </div>
                                            </li>
                                            <li class="sr-reli">
                                                <div class="form-group">
                                                    <label>Religion</label>
                                                    <select class="chosen-select">
                                                        <option>Religion</option>
                                                        <option>Any</option>
                                                        <option>Hindu</option>
                                                        <option>Muslim</option>
                                                        <option>Jain</option>
                                                        <option>Christian</option>
                                                    </select>
                                                </div>
                                            </li>
                                            <li class="sr-cit">
                                                <div class="form-group">
                                                    <label>City</label>
                                                    <select class="chosen-select">
                                                        <option>Location</option>
                                                        <option>Any location</option>
                                                        <option>Chennai</option>
                                                        <option>New york</option>
                                                        <option>Perth</option>
                                                        <option>London</option>
                                                    </select>
                                                </div>
                                            </li>
                                            <li class="sr-btn">
                                                <input type="submit" value="Search">
                                            </li>
                                        </ul>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END -->
    
        <!-- BANNER SLIDER -->
        <section>
            <div class="hom-ban-sli">
                <div>
                    <ul class="ban-sli">
                        <li>
                            <div class="image">
                                <img src="images/ban-bg.jpg" alt="" >
                            </div>
                        </li>
                        <li>
                            <div class="image">
                                <img src="images/banner.jpg" alt="" >
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- END -->
    
        <!-- QUICK ACCESS -->
        <section>
            <div class="str home-acces-main">
                <div class="container">
                    <div class="row">
                        <!-- BACKGROUND SHAPE -->
                        <div class="wedd-shap">
                            <span class="abo-shap-1"></span>
                            <span class="abo-shap-4"></span>
                        </div>
                        <!-- END BACKGROUND SHAPE -->
    
                        <div class="home-tit">
                            <p>Quick Access</p>
                            <h2><span>Our Services</span></h2>
                            <span class="leaf1"></span>
                            <span class="tit-ani-"></span>
                        </div>
                        <div class="home-acces">
                            <ul class="hom-qui-acc-sli">
                                <li>
                                    <div class="wow fadeInUp hacc hacc1" data-wow-delay="0.1s">
                                        <div class="con">
                                            <img src="images/user.png" alt="" loading="lazy">
                                            <h4>Browse Profiles</h4>
                                            <p>1200+ Profiles</p>
                                            <a href="all-profiles.html">View more</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="wow fadeInUp hacc hacc2" data-wow-delay="0.2s">
                                        <div class="con">
                                            <img src="images/gate.png" alt="" loading="lazy">
                                            <h4>Wedding</h4>
                                            <p>1200+ Profiles</p>
                                            <a href="wedding-video.html">View more</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="wow fadeInUp hacc hacc3" data-wow-delay="0.3s">
                                        <div class="con">
                                            <img src="images/couple.png" alt="" loading="lazy">
                                            <h4>All Services</h4>
                                            <p>1200+ Profiles</p>
                                            <a href="services.html">View more</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="wow fadeInUp hacc hacc4" data-wow-delay="0.4s">
                                        <div class="con">
                                            <img src="images/hall.png" alt="" loading="lazy">
                                            <h4>Join Now</h4>
                                            <p>Start for free</p>
                                            <a href="plans.html">Get started</a>
                                        </div>
                                    </div>
                                </li>
                                <!-- <li>
                                    <div class="wow fadeInUp hacc hacc3" data-wow-delay="0.3s">
                                        <div class="con">
                                            <img src="images/photo-camera.png" alt="" loading="lazy">
                                            <h4>Photo gallery</h4>
                                            <p>1200+ Profiles</p>
                                            <a href="photo-gallery.html">View more</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="wow fadeInUp hacc hacc4" data-wow-delay="0.4s">
                                        <div class="con">
                                            <img src="images/cake.png" alt="" loading="lazy">
                                            <h4>Blog &amp; Articles</h4>
                                            <p>Start for free</p>
                                            <a href="blog.html">Get started</a>
                                        </div>
                                    </div>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END -->
    
        <!-- BANNER -->
        <section>
            <div class="str">
                <div class="ban-inn ban-home">
                    <div class="container">
                        <div class="row">
                            <div class="hom-ban">
                                <div class="ban-tit">
                                    <span><i class="no1">#1</i> Wedding Website</span>
                                    <h2>Why choose us</h2>
                                    <p>Most Trusted and premium Matrimony Service in the World.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div>  </div>
        <!-- END -->
    
        <!-- FIND YOUR MATCH BANNER -->
        <section>
            <div class="str count">
                <div class="container">
                    <div class="row">
                        <div class="fot-ban-inn">
                            <div class="lhs">
                                <h2>Find your perfect Match now</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus optio voluptas nostrum. Error, voluptates. Recusandae rem repellendus omnis suscipit vero?</p>
                                <a href="/register" class="cta-3">Register Now</a>
                                <a href="#" class="cta-4">Help &amp; Support</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END -->
        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/select-opt.js"></script>
        <script src="js/slick.js"></script>
        <script src="js/custom.js"></script>
    
    
    </body></html>
